* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* You can adjust the ratios as needed */
  width: 75vw;
  height: 100vh;
  /* gap: 10px; Add some spacing between columns */
}

.left-column {
  /* background-color: lightblue; */
  background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg"); /* Replace with the URL of your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* padding: 20px; Add some padding to make the content readable */
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  background: rgb(35, 42, 38, 0.6);
  color: aliceblue;
  justify-content: center;
  align-items: center;
  margin-top: 45%;
  flex-shrink: 0;
}

.logo img {
  max-width: 90px;
  max-height: 90px;
}

.logo h1 {
  font-family: "Norse", sans-serif;
  font-size: 95px;
}

.footer-left {
  margin-top: auto;
  color: aliceblue;
  text-align: center;
  margin-bottom: 10px;
}

.footer-left a {
  color: aliceblue;
  text-decoration-color: aliceblue;
}

.right-column {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: rgb(230, 231, 234);
  /* justify-content: stretch; */
}

.upper {
  /* background: green; */
  flex: 1;
}

.form-container {
  background: white;
  flex: 1;
  box-shadow: 0px 15px 10px -15px #111;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /* max-width: 400px; */
  /* margin: 0 auto; */
  padding: 20px;
  border: 1px solid #ccc;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
}

.form-title {
  grid-column: span 2;
  font-size: 24px;
  margin-bottom: 5px;
  /* text-align: center; */
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-field label {
  margin-bottom: 5px;
}

.form-field input {
  padding: 8px;
  width: 75%;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-field input:focus {
  /* border-color: blue; */
  border-color: rgb(96, 150, 197);
  box-shadow: 0 0 15px rgb(96, 150, 197);
}

.form-field input:invalid {
  border: 1px solid #d55c5f;
}

.form-field input:valid {
  border: 1px solid #5cd592;
}

.password-match {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.password-match.match {
  color: green;
}

.password-match {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.password-mismatch {
  border-color: red !important;
}

.lower {
  /* background: orange; */
  flex: 1;
}

.lower > * {
  margin-left: 35px;
}

.submit-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 25%;
  border-radius: 5px;
  background: #596d48;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.existing-usr a {
  color: #596d48;
  font-weight: 800;
  text-decoration: none;
}
